/* General CSS stuff goes here. */

/* body {
    background-color: firebrick;
} */
.textSize{
    text-size-adjust: auto !important;
}
#top{
    margin-top: 0px;
    margin-bottom:0px;
}
#cardSection{
    background-color: black;
    padding: 2em;
}
#splash{
    height: auto;
    max-width: 100%;
    margin-bottom: 0em;   
}
.coatButton{
    margin: auto;
    top: 50%;
    padding-left: 3em;
    transform: translate(-50%, -30%);
}
.imageText{
    margin: 1em;
    font-weight: bolder;
    font-size: 150%;
}
#introText{
    position: absolute;
    color: white;
}
body {padding-top:20px;}
#crest1{
    margin: auto;
}
#crest2{
    margin: auto;
}
#about{
    margin-bottom: 0em;
}

.skills{
    font-size: 150%;
    padding-left: 2em;
    background-color: rgb(179, 175, 175);
    height: 3em;
    color: white;
    margin-top: 0em;
    margin-bottom: 1.5em;
}
.projects{
    margin: auto;
    font-size: 150%;
    padding-left: 2em;
    background-color: rgb(179, 175, 175);
    color: white;
    margin-bottom: 0em;
}
.skillsItems{
    margin: auto;
    /* float: right; */
    /* display: inline; */
    margin-right: 2em;
    color: white;
    margin-top: .1em;
    width: 3em;
    font-size: 200%;
}
#download{
    margin: auto;
    font-size: 150%;
    padding-left: 2em;
    background-color: rgb(179, 175, 175);
    color: white;
    margin-bottom: 2em;
}
.downloadbtn{
    margin: auto;
    

}
.copyRight{
    margin: auto;
    font-size: 150%;
    padding-left: 2em;
    background-color: rgb(179, 175, 175);
    color: white;
    margin-top: 1em;
}

a.toTop{
    color: white;
    text-decoration: none;
}
a.toTop:hover{
    color: black;
}

